@charset "UTF-8";
:root {
  --red-primary: #C84242;
  --red-secondary: #FA6464;
  --blue-primary: #5B54FF;
  --blue-secondary: #7B99FC;
}

img + em {
  display: block;
  text-align: center;
}



.preview-list {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 150px;x;
  margin: 0 auto;
}

.socials > a > img {
  width: 25px;
  margin-bottom: 5px;
}

.content-list-head {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.post__date {
  margin: 0 0 10px 0;
  font-size: 85%;
  font-style: italic;
  text-align: center;
}
.post__date--preview {
  text-align: left;
  font-style: italic;
  font-size: 85%;
  margin-top: 0;
}
.post__link {
  text-decoration: none;
}
.post__title {
  font-size: 2em;
  margin-bottom: 0.2em;
  text-align: center;
}
.post__title--preview {
  text-align: left;
  margin-bottom: 5px;
}
.post__text {
  line-height: 1.5;
}
/*.post-test {*/
/*  text-align: center;*/
/*  font-size: 2em;*/
/*  color: #222;*/
/*  margin-bottom: 0.2em;*/
/*}*/

.project__title {
  font-size: 2em;
  margin-bottom: 0.2em;
  text-align: center;
}
.project__title--preview {
  text-align: left;
  margin-bottom: 5px;
}
.project__text {
  line-height: 1.5;
}

.project__description--preview {
  text-align: left;
  font-style: italic;
  font-size: 85%;
  margin-top: 0;
}
.item-page img {
  padding: 10px;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav__link {
  margin: 0px 5px;
  font-size: 1.25em;
  text-decoration: none;
}
.nav__seperator {
  font-weight: bold;
}
.waving-hand {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}


@media (max-width: 75em) {
  .hidden-on-small {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 45.625em) {
  .hidden-on-smaller {
    visibility: hidden;
    display: none;
  }
}
@media (min-width: 75em) {
  .hidden-on-large {
    visibility: hidden;
    display: none;
  }
}
body {
  font-family: -apple-system, system-ui, Verdana, sans-serif;
  margin: 35px auto;
  padding-bottom: 0;
  padding: 5%;
  max-width: 750px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0px;
  margin-right: 0px;
}


#content {
  display: block;
  margin-bottom: 10%;
}

.profile {
  display: flex;
}

.profile__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.greeting {
  justify-content: center;
  display: flex;
  font-size: 40px;
  margin-bottom: 0px;
}

footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #757575;
  line-height: 1.5em;
}

footer > p {
  margin: 0px;
}

.greeting__text {
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

@media (min-width: 1em) {
  .greeting {
    text-align: center;
  }
}

.main-text {
  letter-spacing: 1px;
}

@media (min-width: 35.625em), (min-width: 45.625em), (min-width: 12.4375em) {
  .main-text-404 {
    padding: 5%;
  }
}

.contact {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 75em) {
  .contact {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 75em) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  
  .greeting__text {
    background-image: linear-gradient(90deg, var(--blue-primary), var(--blue-secondary));
  }
  
  .link {
    color: black;
  }
  
  a {
    color: var(--blue-primary);
    text-decoration: none;
  }
  
  .post__title {
    color: var(--blue-primary);
  }
  .post__link {
    color: var(--blue-primary);
  }
  
  .post__date {
    color: black;
  }

  .nav__link {
    color: black;
  }
  .nav__seperator {
    color: var(--blue-primary);
  }
  
  .tag {
    background: var(--blue-primary);
  }
  
  .socials > a > img {
    filter: invert(31%) sepia(51%) saturate(4155%) hue-rotate(233deg) brightness(100%) contrast(102%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #17181c;
    color: white;
  }
  
  .greeting__text {
    background-image: linear-gradient(90deg, var(--red-primary), var(--red-secondary));
  }

  .link {
    color: white;
  }
  
  .post__title {
    color: var(--red-primary);
  }
  .post__link {
    color: var(--red-primary);
  }
  
  .__date {
    color: white;
  }
  
  .nav__link {
    color: white;
  }
  .nav__seperator {
    color: var(--red-primary);
  }
  
  a {
    color: var(--red-primary);
    text-decoration: none;
  }
  .socials > a > img {
    filter: invert(24%) sepia(57%) saturate(1191%) hue-rotate(323deg) brightness(127%) contrast(95%);
  }
}

